.citrus-realty-mortgage .ui-slider-horizontal {
	border: none !important;
	background-color: #d4070e;
}
.citrus-realty-mortgage .ui-widget-content .ui-state-default {
	border: 2px solid #d4070e;
}
.citrus-realty-mortgage .ui-widget-content .ui-state-hover {
	background-color: #d4070e;
}
