.citrus-realty-mortgage .ui-slider-horizontal {
	border: none !important;
	background-color: #3598dc;
}
.citrus-realty-mortgage .ui-widget-content .ui-state-default {
	border: 2px solid #3598dc;
}
.citrus-realty-mortgage .ui-widget-content .ui-state-hover {
	background-color: #3598dc;
}
