
/*sort*/
@media all {
	.content-panel {
		overflow: hidden;
		font-size: 0;
	}
	.sorting {
		font-size: 0;
		float: left;
	}

	.sorting-label {
		display: inline-block;
		vertical-align: middle;
		margin-right: 30px;
	}

	.sorting-list {
		display: inline-block;
		vertical-align: middle;
	}

	.sorting-item {
		display: inline-block;
		vertical-align: middle;
	}

	.sorting-item+.sorting-item {
		margin-left: 30px;
	}

	.sorting-label span {
		font-size: 14px;
		font-weight: 600;
	}

	span.sorting-item-label {
		font-size: 14px;
		font-weight: 600;
		color: #666;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}

	.btn.sorting-btn {
		display: inline-block;
		justify-content: center;
		vertical-align: middle;
		height: 30px;
		width: 30px;
		text-align: center;
		line-height: 28px;
		font-size: 14px;
	}

	.btn.sorting-btn+.btn.sorting-btn {
		margin-left: 5px;
	}

	.btn.sorting-btn.is-active {
		color: #fff;
	}

	.btn.sorting-btn {
		padding: 0;
	}

	.btn.sorting-btn span.btn-icon {
		font-size: 14px;
		margin-right: 0;
	}
}
@media (max-width: 1023px) {
	.sorting {
		float: none;
	}
	.sorting-label {
		margin-right: 15px;
		width: 100px;
	}
}
@media (max-width: 767px) {
	.sorting-item {
		display: block;
	}

	.sorting-item+.sorting-item {
		margin: 10px 0 0;
	}

	.sorting-item-label {
		padding-left: 15px;
		line-height: 30px;
	}

	.btn.sorting-btn {
		float: left;
	}
}
@media (max-width: 479px) {
	.sorting-label {
		margin-bottom: 15px;
		display: block;
	}
}

/*view*/
@media all {
	.views {
		float: right;
	}

	.views-label {
		line-height: 30px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	.views-label span {
		font-size: 14px;
		font-weight: 600;
	}

	.views-list {
		display: inline-block;
		vertical-align: middle;
	}

	.views-item {
		display: inline-block;
		vertical-align: middle;
	}

	.views-item+.views-item {
		margin-left: 5px;
	}

	.btn.views-btn {
		justify-content: center;
		vertical-align: middle;
		height: 30px;
		width: 30px;
		text-align: center;
		line-height: 28px;
		font-size: 14px;
	}

	.btn.views-btn.is-active {
		color: #fff;
	}

	.btn.views-btn {
		padding: 0;
	}

	.btn.views-btn span.btn-icon {
		font-size: 14px;
		margin-right: 0;
	}
}
@media (max-width: 1023px) {
	.views {
		float: none;
		margin-top: 10px;
	}

	.views-label {
		margin-right: 15px;
		width: 100px;
		line-height: normal;
	}
}
@media (max-width: 479px) {
	.views-label {
		display: block;
		margin-bottom: 15px;
	}
}