.footer-details {
    max-width: 342px;
    width: auto;
}

.full-slide__info {
	margin: 0!important;
	font-weight: bold;
}

.full-slide__info + p {
	display: none;
}

.full-slide__info.white {
	color: #fff;
}

@media screen and (max-width: 1200px) {
    .header-scroll.header-variable-1 .header__phone {
        font-size: 10px;
    }

    .header__phone:after, .header-scroll.header-variable-1 .header__phone:after {
        height: 13px;
    }

    .header-scroll.header-variable-1 .header-phone-wrap {
        padding-top: 19px;
        padding-bottom: 19px;
    }
}

@media screen and (max-width: 1024px) {
    .mobile-menu__dev {
        padding: 0 17px;
        color: #808080;
        font-size: 11px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header-scroll {
        display: none;
    }

    #button-search-top, .cart {
        height: 50px;
    }

    .wrap-menu {
        position: fixed;
        left: 0;
        right: auto;
        width: 100%;
        top: 0;
        background: #fff;
        height: 51px;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #e3e3e3;
        z-index: 10000;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        opacity: 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .wrap-menu.active {
        left: -270px;

    }

    .header .center-bar {
        border: none;
    }

    .header {
        padding-top: 51px;
    }

    .mobile-menu__callback {
        background-color: #e5e5e5;
        width: 50px;
        height: 50px;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .mobile-menu__callback-hidden-wrap {
        position: absolute;
        left: 0;
        top: 51px;
        width: 100%;
        padding-top: 16px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 320px;
        display: none;

    }

    .mobile-menu__callback-hidden {
        background-color: #fff;
        padding: 13px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        position: relative;
    }

    .mobile-menu__callback-hidden::after {
        position: absolute;
        content: "";
        border-style: solid;
        border-width: 0 8px 12px 8px;
        border-color: transparent transparent #ffffff transparent;
        top: -9px;
        left: 10px;
    }

    .has-basket .mobile-menu__callback-hidden::after {
        left: auto;
        right: 110px;
    }

    .mobile-menu__callback-hidden-wrap.active {
        display: block;
    }


    .mobile-menu__callback-hidden-wrap ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }

    .mobile-menu__callback-hidden-wrap li {
        display: inline-block;
        margin-right: 10px;
    }

    .mobile-menu__callback-link.view-more {
        width: 100%;
        height: 32px;
        line-height: 28px;
        border: 2px solid #f82900;
        margin-top: 13px;
        padding: 0;
    }

    .mobile-menu__callback-hidden-wrap li a {
        color: #000;
        font-size: 14px;
    }

    .has-basket .mobile-menu__callback {
        background-color: transparent;
        width: 30px;
        margin-right: 10px;
    }

    .has-basket .mobile-menu__callback-hidden-wrap {
        right: 0;
        left: auto;
    }

    .mobile-menu__header-logo {
        display: block;
    }

    .mobile-menu__header-logo img {
        max-height: 32px;
    }

    nav.mobile-menu {
        width: 50px;
        height: 50px;
        background-color: #E91A47;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        -webkit-box-ordinal-group: 11;
        -webkit-order: 10;
        -ms-flex-order: 10;
        order: 10;
        position: relative;
    }

    .button-mobile-menu.active {
        background: url("../img/update/mobile-close.svg") 50% 50% no-repeat #E91A47;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
    }

    .button-mobile-menu.active .button-mobile-menu-inner {
        display: none;
    }

    .has-basket .search-wrap {
        -webkit-box-ordinal-group: 9;
        -webkit-order: 8;
        -ms-flex-order: 8;
        order: 8;
    }

    .has-basket .mobile-menu__callback {
        -webkit-box-ordinal-group: 7;
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
    }

    .has-basket .mobile-menu__header-logo {
        margin-left: 10px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .button-mobile-menu {
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
    }

    .button-mobile-menu-inner {
        background-color: #fff;
        padding: 0;
        width: 20px;
        height: 2px;
        position: relative;
    }

    .button-mobile-menu-inner::before, .button-mobile-menu-inner::after {
        position: absolute;
        content: '';
        background-color: #fff;
        padding: 0;
        width: 20px;
        height: 2px;
        left: 0;
    }

    .button-mobile-menu-inner::before {
        top: -5px;
    }

    .button-mobile-menu-inner::after {
        bottom: -5px;
    }

    .wrap-menu #button-search-top {
        display: none;
    }

    .mobile-menu-inner {
        background-color: #fff;
        top: 0;
        padding-bottom: 50px;

        width: 270px;
        right: -270px;

        position: fixed;
        bottom: 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }


    .header-basket {
        margin-left: 0;
        background: url("../img/update/basket-header-mobile-2.svg") 50% 50% no-repeat;
        height: 50px;
    }

    .mobile-menu-inner.active {
        position: fixed;
        bottom: 0;
        top: 0;
        right: 0;
        overflow-y: scroll;
        z-index: 10000;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .search-wrap {
        width: auto;
    }

    #shopCart #cartEmpty {
        font-size: 8px;
        max-height: 14px;
        line-height: 14px;
        border-radius: 14px;
        padding: 0 4px 0 4px;
        top: 13px;
        width: 14px;
        min-width: 14px;
        font-weight: bold;
    }

    #shopCart {
        margin-left: 8px;
        position: relative;
    }

    #shopCart::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 34px;
        background-color: #C4C4C4;
        left: -10px;
        top: 8px;
    }

    .mobile-menu__search {
        position: relative;
        height: 49px;
    }

    .mobile-menu__search-input {
        width: 100%;
        height: 49px;
        line-height: 49px;
        outline: none;
        border: none;
        font-family: inherit;
        font-size: 14px;
        color: #333;
        padding: 0 50px 0 19px;
    }

    .mobile-menu__search-input::-webkit-input-placeholder {
        color: rgba(51,51,51,0.4);
    }
    .mobile-menu__search-input:-moz-placeholder {
        color: rgba(51,51,51,0.4);
    }
    .mobile-menu__search-input::-moz-placeholder {
        color: rgba(51,51,51,0.4);
    }
    .mobile-menu__search-input:-ms-input-placeholder {
        color: rgba(51,51,51,0.4);
    }

    .mobile-menu__search-submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 49px;
        height: 49px;
        outline: none;
        border: none;
        background: url("../img/update/mobile-magnifier.svg") 50% 50% no-repeat;
    }

    .mobile-menu-inner ul {
        padding: 0;
        list-style: none;
        border-bottom: 1px solid rgba(51,51,51, 0.2);
        margin: 0 0 23px;
    }

    .mobile-menu-inner li {
        border-top: 1px solid rgba(51,51,51, 0.2);
    }

    .mobile-menu-inner li a {
        font-size: 14px;
        font-weight: 600;
        color: #333;
        display: block;
        padding: 16px 10px 16px 19px;
        width: 100%;
        line-height: 17px;
    }

    .mobile-menu-inner li.active > .open-div-mobile > a {
        color: #fff;
    }

    .mobile-menu-inner li.active > a {
        color: #fff;
        background: #E91A47;
    }

    .mobile-menu-inner .menu-sub .level2 > a,
    .mobile-menu-inner > ul > .nav-arrow > .menu-sub > .nav-arrow > .open-div-mobile > a  {
        padding-left: 39px;
    }

    .mobile-menu-inner .menu-sub .level3 > a {
        padding-left: 49px;
    }

    .mobile-menu .menu-sub {
        padding: 0;
        margin: 0;
        list-style: none;
        background: transparent;
    }

    .mob-button {
        width: 50px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mobile-menu .menu-sub li a {
        color: inherit;
        display: block;
        padding: 16px 10px 16px 19px;
    }

    .open-div-mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .mobile-menu li.active > .open-div-mobile {
        background: #E91A47;
    }

    .mobile-menu li.active > .open-div-mobile .uk-icon-angle-down {
        border-top-color: #fff;
    }

    .mobile-menu li.active > a {
        color: #fff;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block!important;
    }

    .mob-button > .uk-icon-angle-down {
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 4px 0 4px;
        border-color: #003333 transparent transparent transparent;
    }

    .mob-button>.uk-icon-angle-down:before {
        display: none;
    }

    .mobile-menu-inner li.active > a {
        color: #fff;
        background: #E91A47;
    }

    .mobile-menu .menu-sub {
        display: none;
    }

    .mob-button.active > .uk-icon-angle-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .mobile-menu__icons {
        padding: 0 17px;
        margin-bottom: 23px;
    }

    .mobile-menu__icons a {
        margin-right: 12px;
    }

    .mobile-menu__copyrigt {
        font-size: 12px;
        color: #808080;
        margin-bottom: 21px;
        padding: 0 17px;
    }

    .mobile-menu__sitemap {
        padding: 0 17px;
        margin-bottom: 16px;
    }

    .mobile-menu__sitemap img {
        margin-right: 10px;
    }

    .mobile-menu__sitemap a {
        font-size: 10px;
        border-bottom: 1px solid rgba(128,128,128, 0.4);
    }

    .mobile-menu__sitemap span {
        font-size: 12px;
        color: #808080;
    }

    .mobile-menu__dev {
        padding: 0 17px;
        color: #808080;
        font-size: 11px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mobile-menu__dev img {
        height: 26px;
        width: 60px;
        margin-left: 10px;
    }





    .form-transfer__line {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .form-transfer__label {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 152px;
        -ms-flex: 0 0 152px;
        flex: 0 0 152px;
    }

    .form-transfer__input {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 329px;
        -ms-flex: 1 1 329px;
        flex: 1 1 329px;
    }

    .form-transfer__input.calendar {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100px;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
    }

    .form-transfer__input.time {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 114px;
        -ms-flex: 0 0 114px;
        flex: 0 0 114px;
    }

    .form-transfer__add-point {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-top: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .form-transfer_checkbox-wrap {
        padding-left: 0;
        padding-right: 26px;
    }

    .form-transfer-section > .form-transfer__more-info {
        padding-left: 0;
    }

    .form-transfer__submit-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding-left: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .form-transfer__submit-wrap span {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }

    .form-transfer__submit-wrap input {
        margin-right: 0;
        max-width: 170px;
    }
}

@media screen and (max-width: 959px) {
    .information-main .news .news-element {
        width: auto;
    }

    .about-wrap .company + .news {
        margin-left: 0;
        width: 100%;
    }
}


@media (max-width: 768px) {
    .contact-page .contact-element .content-box {
        max-width: 80%;
    }

    .footer-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .dignity-main-element {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .modal-callback .uk-modal-dialog {
        margin: 20px;
    }

    .modal-callback .uk-modal-close {
        top: -36px;
        right: 0;
    }

    body.mobile-active {
        overflow: hidden;
        position: fixed;
    }
	
	.full-slide__info {
		max-width: 150px;
		margin: 0 auto 10px!important;
	}
	
	.slider-main .full-slide .content .title:not(.black)  + .full-slide__info {
		margin: 0 0 10px!important;
		text-align: left;
	}
}

@media (max-width: 564px) {
    .form-transfer__label {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .dignity-main-element {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .dignity-main .dignity-main-element .flex-block {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dignity-main .dignity-main-element .flex-block .img {
        -webkit-flex-basis: 60px;
        -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
        margin-right: 0;
    }

    .dignity-main.price .dignity-main-element .img {
        margin-right: 15px;
    }

    .modal-label-line {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .modal-label-line label {
        width: 100%;
    }
}


.clone-wrap {
    margin-top: 15px;
    position: relative;
}

.del-adress {
    position: absolute;
    right: -84px;
    top: 10px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.del-adress:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #333;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.del-adress:hover:after {
    opacity: 0;
}

.form-transfer__line.adress-line {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.adress-line .form-transfer__label {
    margin-top: 16px;
}

.adress-line .form-transfer__add-point-text  {
    margin-top: 23px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pays-logo {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 0;
}

.pays-logo img  {
    max-width: 25px;
    margin-right: 8px;
}

.pays-logo img:last-of-type {
    margin-right: 0;
}

.form-transfer__submit-wrap span {
    display: inline-block;
}

.form-transfer__submit-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-transfer__submit-wrap a:last-of-type {
    padding-left: 74px;
}

.transfer-simple li {
    position: relative;
    padding-left: 16px;
}

.transfer-simple li:before {
    content: "•";
    font-family: inherit;
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 13px;
    font-weight: bold;
    color: rgb(248, 41, 1);
}



@media (max-width: 768px) {
    .footer {
        margin-bottom: 56px;
    }

    .slider-main .full-slide .content .title.black {
        font-size: 19px;
    }

    .slider-main .full-slide .content {
        justify-content: flex-end;
    }

    .slider-main .full-slide .content > div {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .form-transfer__submit-wrap a:last-of-type {
        padding-left: 0;
    }
}

@media (max-width: 400px) {
    .pays-logo img {
        margin: 10px;
        max-width: 35px;
    }
}

/*.main-menu-left ul.dropdown ul.dropdown {*/
    /*display: none!important;*/
/*}*/