div.star-active
{
	cursor: pointer;
}
div.star-empty
{
	background-image: url(images/empty.svg);
	width: 18px;
	height: 18px;
	margin-left: 4px;
}
div.star-voted
{
	background-image: url(images/voted.svg);
	width: 18px;
	height: 18px;
	margin-left: 4px;
}
div.star-over
{
	background-image: url(images/over.svg);
	width: 18px;
	height: 18px;
	margin-left: 4px;
}
